
/* .chart {
  position: relative;
  display: inline-block;
  width: 110px;
  height: 110px;
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
} */

.chart {
    position: relative;
    display: inline-block;
    width: 190px;
    right: 28%;
    height: 190px;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    text-align: center;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 200px;
  z-index: 2;
  font-size: 25px;
  font-weight: bolder;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}



@media (max-width: 7000px) {


    .chart{right: 36%}

}

@media (max-width: 1888px) {


    .chart{right: 32%}

}

@media (max-width: 1400px) {
    .chart{right: 29%}
}


@media (max-width: 1150px) {
    .chart{right: 22%}
}
@media (max-width: 1000px) {
    .chart{right: 33%}
}


@media (max-width: 700px) {
    .chart{right: 30%}
}
/* @media (max-width: 700px) {
    .chart{right: 36%}
} */
@media (max-width: 520px) {
    .chart{right: 24%}
}
@media (max-width: 440px) {
    .chart{right: 19%}
}


@media (max-width: 370px) {
    .chart{right: 13%}
}
